<h1>Index of Shortened URLs</h1>
<br><br>

<table>
  <th>
    <tr>
      <td><h3>    Original link    </h3></td>
      <td><h3>    Shorty link    </h3></td>
      <td><h3>    Dynamic Link    </h3></td>
    </tr>
  </th>
  <% @urls.each do |shorty| %>

  <tr>
    <td><%= shorty.original %></td>
    <td><a href="<%= shorty.original %>" target ="_blank"><%= shorty.short %></a></td>
    <td><a href="<%= shorty.original %>" target ="_blank"><%= shorty.dynamic_link %></a></td>
  </tr>

<% end %>
</table>
<br><br>
<br><br>

<%= link_to 'Make another shorty', root_path %>
